[Desktop Entry]
Name=wmpiki
Comment=Hosts activity checker
Comment[pl]=Monitor aktywności hostów
Exec=wmpiki
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
